html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  margin: 1rem;
  line-height: 1.5;
}

body {
  background-color: #f2f1ed;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

li {
  display: inline;
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
  padding-left: 1rem;
  font-family: "Patua One", sans-serif;
}

a {
  color: #fff;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

nav {
  grid-area: none;
  grid-column: 2;
  grid-row: 1;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  align-self: end;
  width: 14rem;
}

img .logo {
  z-index: 10;
}

main {
  display: grid;
  grid-template-areas: "one two";
  gap: 1rem;
  grid-auto-columns: 1fr 1fr;
}

figure {
  margin: 0;
  margin-top: 1rem;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

p {
  font-family: Georgia, serif;
  color: #000;
}

ul {
  display: flex;
}
